<!DOCTYPE html>

<!-- HEAD -->
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">

    <!-- Style sheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/style.css"/>


    <!-- Title and favicon -->
    <title>EvaluRate</title>
    <link rel="icon" href="../static/logo.png">
</head>


<!-- BODY -->
<body>
<div class="content">
    <center>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #e2bd55;">
                          <a class="dropdown-item" href="/updateAccount">Settings</a>
                          <a class="dropdown-item" href="/login">Log Out</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/browse">Browse</a>
                    </li>
                </ul>
            </div>
            <div class="mx-auto order-0">
                <a href="/home"><img src="../static/name.png" style="height: 45px;"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Rate
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #e2bd55;">
                            <a class="dropdown-item" href="/rateprof">Rate Professors</a>
                            <a class="dropdown-item" href="/ratecourse">Rate Courses</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Leaderboards
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: #e2bd55;">
                            <a class="dropdown-item" href="/profleaderboard">Professor Leaderboards</a>
                            <a class="dropdown-item" href="/courseleaderboard">Course Leaderboards</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          More
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" style="background-color: #e2bd55;">
                            <a class="dropdown-item" href="/myschedule">My Schedule</a>
                            <a class="dropdown-item" href="/searchfriends">Friends' Schedules</a>
                            <a class="dropdown-item" href="/probsearch">Probability Calculator</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </center>

    <!-- Browse -->
    <center>
        <div class="jumbotron jumbotron-fluid" style="background-color: #ffffff; color: #0c2340; font-family: 'Montserrat', sans-serif;">
            <h1 style="font-family: 'Archivo Black', sans-serif;">Browse Courses & Professors</h1>
            <b>Click on a course or professor to view more info!</b><br><br>
            <div class="row">
                <div class="col">
                    <h2 style="color: #1f9659;"><b>Courses</b></h2>
                    <input type="text" id = "course"><br>
                    Search by name or number
                    <p id = "datalistcourse"></p>
                </div>
                <div class="col">
                    <h2 style="color: #1f9659;"><b>Professors</b></h2>
                    <input type="text" id = "profname"><br>
                    Search by name
                    <p id = "datalist"></p>
                </div>
            </div>
        </div>
    </center>
</div>

<script>
            //list of courses/professors on page load
            textinprofname = $("#profname").val();
            $("#datalist").empty();
            $.ajax({
                method:"post",
                url:"/livesearchprofname",
                data:{text:textinprofname},
                success:function(res){
                    var data = "";
                    $.each(res,function(index,value){
                        var profurl = "/seeprof?"+value;
                        data += '<br><a href="'+profurl+'"><button class="btn btn-light"><b>'+value+'</b></button></a><br>';
                    });
                    data += "";
                    $("#datalist").html(data);
                }
            });

            textincourse = $("#course").val();
            $("#datalistcourse").empty();
            $.ajax({
                method:"post",
                url:"/livesearchcourse",
                data:{text:textincourse},
                success:function(res){
                    var data = "";
                    $.each(res,function(index,value){
                        var courseurl = "/seecourse?"+value;
                        data += '<br><a href="'+courseurl+'"><button class="btn btn-light"><b>'+value+'</b></button></a><br>';
                    });
                    data += "";
                    $("#datalistcourse").html(data);
                }
            });

</script>

<!-- Footer -->
<footer class="footer">
    <div class="container" style="padding-bottom: 0%;">
        <center>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <a href="mailto: support@LandOne.com" ><img src="../static/email.png" style="height: 25px;"/></a>
                    <a href="mailto: support@LandOne.com" style="color:#0c2340">support@evalurate.com</a>
                    <br>
                    <a href="tel: 775-536-6336"><img src="../static/phone.png" style="height: 20px;"/></a>
                    <a href="tel: 775-536-6336" style="color:#0c2340">574-504-1916</a>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <a href="https://twitter.com/hellolandone" target="_blank"><img src="../static/twitter.png" style="height: 35px;"/></a>
                    <a href="https://www.youtube.com/channel/UCz4xghYtr3gpKTwiiB_Ia1Q" target="_blank"><img src="../static/youtube.png" style="height: 35px;"/></a>
                    <a href="https://www.instagram.com/hellolandone/" target="_blank"><img src="../static/instagram.png" style="height: 35px;"/></a>
                    <a href="https://www.facebook.com/hellolandone" target="_blank"><img src="../static/facebook.png" style="height: 35px;"/></a>
                    <a href="https://www.linkedin.com/company/landone/" target="_blank"><img src="../static/linkedin.png" style="height: 35px;"/></a>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <a href="#" style="color:#0c2340">Terms of Service</a>
                    <br>
                    <a href="#" style="color:#0c2340">Privacy Policy</a>
                </div>
            </div>
            <b>Copyright © 2021 EvaluRate</b>
        </center>
    </div>
</footer>

</body>

<script>
    $(document).ready(function(){
        $("#profname").on("input",function(e){
            textinprofname = $("#profname").val();
            $("#datalist").empty();
            $.ajax({
                method:"post",
                url:"/livesearchprofname",
                data:{text:textinprofname},
                success:function(res){
                    var data = "";
                    $.each(res,function(index,value){
                        var profurl = "/seeprof?"+value;
                        data += '<br><a href="'+profurl+'"><button class="btn btn-light"><b>'+value+'</b></button></a><br>';
                    });
                    data += "";
                    $("#datalist").html(data);
                }
            });
        });
    });

    $(document).ready(function(){
        $("#course").on("input",function(e){
            textincourse = $("#course").val();
            $("#datalistcourse").empty();
            $.ajax({
                method:"post",
                url:"/livesearchcourse",
                data:{text:textincourse},
                success:function(res){
                    var data = "";
                    $.each(res,function(index,value){
                        var courseurl = "/seecourse?"+value;
                        data += '<br><a href="'+courseurl+'"><button class="btn btn-light"><b>'+value+'</b></button></a><br>';
                    });
                    data += "";
                    $("#datalistcourse").html(data);
                }
            });
        });
    });
</script>

<!-- Scripts for Boostrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>

</html>

