<!DOCTYPE html>
<html lang="en">
<head>
  <title>Professor Ratings</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/style.css" />
  <link rel="shortcut icon" type="image/jpg" href="../static/circle.jpg"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  </style>
  
</head>
<body>

<div id="nav-placeholder">

</div>

<script src="//code.jquery.com/jquery.min.js"></script>

<div class="container-fluid text-center">
      <h1><b>{{profname}}</b></h1>
      <br>
      <h2>Ratings</h2>
</div>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<center>
Overall: {{overall}}, Teaching Style: {{style}}, Approachability: {{approach}}, Would Take Again: {{takeagain}} %
<br><br>
<table class="table">
  <thead>
     <tr>
            <th>Individual Ratings</th>
    </tr>
      </thead>
  {% for ind in individual %}
        <tr>      
              <td> {{ind}} </td>
        </tr>
        {% endfor %}
</table>
<br><br>
<h2>{{semester}} Semester Courses Taught by {{profname}}</h2>
<br>
<table style="width:400px">
  <thead>
     <tr>
  	    <th>Course Name</th>
	    <th>Course Number</th>
            <th>CRN</th>
            <th>Credits</th>
            <th>Seats</th>
            <th>Date and Time</th>
            <th>Location</th>
    </tr>
      </thead>
  {% for course in courses %}
        <tr>
		<td><a href={{course[-1]}}>{{course[0]}}</a></td>
        {% for att in course[1:-1] %}
              <td> {{att}} </td>
        {% endfor %}
        </tr>
        {% endfor %}
</table>
</center>
<br><br>




</div>
</div>


</div>
</div>


<br>
</body>
</html>

